<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Country" value="KIRIBATI"/>
    <add key="UIS Template" value="UIS_ED_A_2017_EN.xlsx"/>

    <add key="Data Source" value="localhost"/>
    <add key="Initial Catalog" value="KEMIS"/>

    <add key="User id" value="### USERID ###"/>
    <add key="Password" value="### PASSWORD ###"/>

    <add key="BaseSQLPath" value="KiribatiBaseTables.sql"/>
    <add key="Sheets" value="A2, A3, A5, A6, A7, A9, A10"/>

  </appSettings>
</configuration>
