<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Country" value="TUVALU"/>
    <add key="UIS Template" value="UIS_ED_A_2016.xlsx"/>

    <add key="Data Source" value="DBSERVER\SQLEXPRESS"/>
    <add key="Initial Catalog" value="TEMIS"/>
    <add key="User id" value="user"/>
    <add key="Password" value="password"/>

    <add key="StudentBaseSQLPath" value="TuvaluStudentsBaseQuery.sql"/>
    <add key="TeacherBaseSQLPath" value="TuvaluTeachersBaseQuery.sql"/>
    <add key="Sheets" value="A2, A3, A5, A6, A7, A9, A10"/>

  </appSettings>
</configuration>
