<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Country" value="RMI"/> <!-- Change me: RMI or FSM -->
		<add key="UIS Template" value="UIS_ED_A_2017_EN.xlsx"/>

		<add key="Data Source" value="hostname"/> <!-- Change me: data.pss.edu.mh or fedemis.doe.fm -->
		<add key="Initial Catalog" value="MIEMIS-TEST"/> <!-- Change me: MIEMIS or FEDEMIS -->

		<add key="User id" value="sa"/>
		<add key="Password" value="password"/> <!-- Change me: password of your DB server -->

		<add key="BaseSQLPath" value="RMIBaseTables.sql"/> <!-- Change me: RMIBaseTables.sql or FSMBaseTables.sql -->
		<add key="Sheets" value="A2, A3, A5, A6, A7, A9, A10"/>

	</appSettings>
</configuration>
